<div class="result-data">
   <div class="css-omf3o4">
    <app-book *ngFor="let book of books" [book]="book"></app-book>
  </div>
  <app-pagination
  (goPage)="goToPage($event)"
  (goNext)="onNext()"
  (goPrev)="onPrev()"
  [pagesToShow]="3"
  [page]="page"
  [perPage]="limit"
  [count]="total"></app-pagination>

</div>
