.pd {
    padding: 8px 8px 8px 30px;
  }
  .pd_t {
    padding-top: 25px;
  }
  .aside {
    display: block;
    border-right: 1px solid #DEDEDE;
  }
  .aside .compose {
    height: 95px;
    margin: 0 -10px;
    padding: 25px 30px;
  }
  .css-1c5989h {
    position: absolute;
    top: calc(50% - 8px);
    padding-left: 10%;
    left: 0px;
  }