  <!-- START NAV -->
  <nav class="navbar is-danger ">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item brand-text" href="../">
          GoodBooks        
        </a>
        <div class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div class="container content ">
          <div class="has-text-centered column is-10 is-offset-1">
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input pd is-rounded" type="text" placeholder="Search..." (keyup)="search($event)" />
              </p>
              <div class="css-1c5989h css-6tynwe0">
                <svg alt="Search" class="search-icon" height="16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><title>Search</title><path d=" M6.02945,10.20327a4.17382,4.17382,0,1,1,4.17382-4.17382A4.15609,4.15609, 0,0,1,6.02945,10.20327Zm9.69195,4.2199L10.8989,9.59979A5.88021,5.88021, 0,0,0,12.058,6.02856,6.00467,6.00467,0,1,0,9.59979,10.8989l4.82338, 4.82338a.89729.89729,0,0,0,1.29912,0,.89749.89749,0,0,0-.00087-1.29909Z "></path></svg>
              </div>
            </div>
          </div>
      </div>
      
    </div>
  </nav>
  <!-- END NAV -->