<h1 class="subtitle">Year of Publication</h1>
<div class="display">{{min}} <i class="fas fa-arrows-alt-h"></i>{{max}}</div>
<div class="range-slider"><span class="range-slider-selection"></span>
  <input class="range-slider-min" type="range" (change)="stepUp($event)" [min]="min" [max]="max" [step]="step" [value]="min"/>
  <input class="range-slider-max" type="range" (change)="stepDown($event)" [min]="min" [max]="max" [step]="step" [value]="max"/>
</div>