<a href="https://google.com/search?q=Crown of Shadows" class="result-item css-1p9dq2h css-s1k1y71" target="_blank" rel="noopener noreferrer">
  
  <div class="result-image  css-g6qnsb css-s1k1y70" [style.background-image]="'url('+book._source.large_image_url+')'" ></div>
  <h2 class="result-title css-1pwe92q css-1jhjgj40">{{book._source.title}}</h2>
  <article>
    <div class="result-author" title="{{book._source.author}}">by {{book._source.author}}</div>
    {{book._source.ratings}}
    <app-rating [rating]="book._source.ratings"></app-rating>
  </article>
</a>

