.result-data .result-item:focus, .result-data .result-item:hover, .result-data .result-item:visited {
    box-shadow: none;
}

 .result-item {
    box-shadow: none;
    max-width: 150px;
    min-width: auto;
}
.result-data .result-image {
    background-size: cover;
    max-height: 200px;
}

.css-g6qnsb {
    width: calc(100% + 20px);
    height: 220px;
    background-color: rgb(252, 252, 252);
    background-size: cover;
    margin: -10px -10px 0px;
    background-position: center center;
    background-repeat: no-repeat;
}

.css-1p9dq2h {
    width: auto;
    -webkit-box-flex: 1;
    flex-grow: 1;
    max-width: 150px;
    min-width: auto;
    background-color: rgb(255, 255, 255);
    height: 300px;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 4px 0px;
    color: rgb(66, 66, 66);
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 0.25rem;
    margin: 8px;
    padding: 10px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.css-jqqtki *, .css-jqqtki ::before, .css-jqqtki ::after {
    box-sizing: border-box;
}
.result-data .result-title {
    display: block;
    display: -webkit-box;
    white-space: normal;
    height: 50px;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.css-1p9dq2h h2 {
    width: 100%;
    font-size: 0.9rem;
    line-height: 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    margin: 0px;
    padding: 10px 0px 8px;
}

.css-1pwe92q {
    font-size: 1rem;
    color: rgb(66, 66, 66);
    margin: 0px 0px 8px;
}

.css-1p9dq2h article {
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-size: 0.9rem;
}
.result-author {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.star {
    color: gold;
}
