.css-jqqtki *, .css-jqqtki ::before, .css-jqqtki ::after {
    box-sizing: border-box;
}
.display {
    display: flex;
    margin-top: 10px;
}
.mainbar {
    width: calc(100% - 320px);
    position: relative;
    left: 320px;
    padding: 10px 30px;
    background-color: #fefefe;
}