.aside {
    width: 320px;
    height: calc(100% - 50px);
    overflow-y: auto;
    padding: 15px 20px;
    position: fixed;
    left: 0;
    right: 0;
    border-right: 1px solid #f0f0f0;
}
.aside .compose {
    height: 95px;
    margin: 0 -10px;
    padding: 25px 30px;
}
.pd_t {
    padding-top: 25px;
}
