<aside class="column is-3 aside hero is-fullheight">
    <div>
      <div class="compose pd_t ">
        <app-rangslider [min]="1900" (getMin)="onMin($event)"
        (getMax)="onMax($event)" [max]="2018" [step]='step'></app-rangslider>
        <app-ratingview></app-ratingview>
        <app-author></app-author>
      </div>
      
    </div>
</aside>