:host {
	flex: 0 0 30px;
	display: flex;
	.pagination {
		width: 100%;
		position: relative;
		flex: 1;
		background: #f9f9f9;
		display: flex;
		flex-direction: row;
		align-items: center;

		.description {
			position: absolute;
			top: 50%;
			transform: translate(0, -50%);
			left: 10px;

			.page-counts {
				margin-right: 10px;
			}
		}

		.numbers {
			display: block;
			text-align: center;
			flex: 1;
			padding: 25px;

			button {
				flex: 0 0 auto;
				outline: none;
				border: 0;
				padding: 8px 16px;
				background: transparent;
				cursor: pointer;
				font-size: 16px;

				&.active {
					background-color: hsl(348, 100%, 61%);
					color: white;
				}

				&.disabled {
					
					color: #f5f5f5;
				}
			}
		}
	}
}