
    <div class="field">
        <input class="is-checkradio" id="rating_{{rate}}" type="radio"  name="rating_{{rate}}" (change)="onRating(rate)">
        <label for="rating_{{rate}}">{{rate}} stars and up</label>
    </div>
