.css-8wmgpq {
    max-height: 240px;
    position: relative;
    overflow-y: auto;
    list-style: none;
    padding: 0px 0px 12px;
    margin: 0px;
}

.css-8wmgpq li {
    height: 30px;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 2px;
}