<div class="css-1xdhyk6 e1nzkzy80 pd_t">
  <h1 class="subtitle">Authors</h1>
  <div class="field">
    <div class="control">
      <input class="input" type="text" placeholder="Normal input">
    </div>
  </div>
  
  <ul class="author-list css-8wmgpq eekr4lp2">
    <li *ngFor="let author of authors" (click)="authorMovies(author)">
      {{ author}}
    </li>
  </ul>
</div>
