<div class="css-1xdhyk6 e1nzkzy80 pd_t">
    <h1 class="subtitle">Rating</h1>
  <ul class="list css-8wmgpq eekr4lp2">
  
    <li class="" *ngFor="let rating of ratings">
        <app-rate [rate]="rating" [id]="rating" (goRating)="getBooksByrating(rating)"></app-rate>
    </li>
  </ul>
</div>